body {
	font-family: 'Macondo' , cursive;
	color: lightblue;
	background-image: url('images/background3.jpg');
	background-size: 100% 100%;
	text-align: center;
}

#title{
	background-color: beige;
}

#instructions{
	background-color: black;
}

.gemPics{
	width: 100%;
	

}

#winner{
	margin-left: 600px
	background-color:black;
	font-size: 25pt;

}

#number{
	margin-left: 600px
	background-color:black;
	font-size: 25pt;
}

.results{
	float: left;
	width: 20%;
	height: 100px;
}
.btn-group{
	width: 10%;
	height:100px;
}


#scoreTitle{
	
	clear: both;
	margin-bottom: 10px;
	background-color: black;
}


#totalScore{
	background-color: black;
	clear: both;
	margin-top:5%;
}